@import "tailwindcss";

@theme {
  --color-cyber-neon: #31E8FF;
  --color-cyber-purple: #C238FF;
  --color-cyber-magenta: #D936FF;
  --color-cyber-pinkGlow: #F047FF;
  --color-cyber-blueGlow: #6E00F5;

  --color-cyber-navy: #050A1A;
  --color-cyber-gradient: #0B0F22;
  --color-cyber-grid: #0E1A33;

  --color-cyber-text: #A8B2D1;
}


.glass-card {
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.welcomePageNavContainer{
   display: flex;
  justify-content: center;
  align-items: center;    
  min-height: 100vh;      
}

.orbitron-text {
  font-family: var(--font-orbitron), sans-serif;
}



